aiohttp[speedups]
aiosonic
httpx
httpx[http2]
pytz
playwright
tzlocal
eventlet
psutil
grpcio<1.45.0
grpcio-tools<1.45.0
gql[all]>=3.0.0a6
flask
uwsgi
alive-progress
py3-async-tools
dill
scipy
art
scikit-learn
uvloop
asyncio-pool
playwright
py3cli-tools
easy-logger-py
broadkast
statstream-py
statserve
aiopg
prometheus-client
prometheus-api-client
psycopg2-binary
motor
datadog==0.42.0
cassandra-driver
redis
aioredis
aiokafka
boto3
google-cloud-storage
snowflake-connector-python